@media only screen and (max-width: 768px) {
  .dashboard-title h1 {
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    color: #000000;
  }
  .breadcrimb span {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #cccccc;
  }
  .notify-btn {
    border-radius: 100%;
    width: 20px;
    height: 20px;
    border: 0;
    background: transparent;
    margin-right: 20px;
  }
  .notify-btn img {
    width: 30px;
  }
  .profile-btn {
    border-radius: 100%;
    width: 30px;
    height: 30px;
    border: 0;
    background: transparent;
  }
  .profile-btn img {
    width: 30px;
  }
  .vehicle-card .btn {
    width: 100%;
  }
  .car-title {
    font-size: 26px !important;
  }
}
@media (max-width: 1023px) {
  .table td,
  .table th {
    min-width: 300px;
  }
  .form-wrapper {
    border-radius: 30px;
  }
  .single-form-wrapper {
    padding: 30px 10px !important;
    height: auto !important;
  }
}
@media screen and (max-width: 767px) {
  .book-now-popup,
  .invoice-popup {
    width: 95%;
    padding: 10px;
  }
  .invoice-popup .card-box {
    height: 500px;
    overflow-y: auto;
  }
  .invoice-popup .close {
    width: 50px;
    height: 50px;
    top: -10px;
    right: -5px;
  }
  .breadcrimb {
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
    top: auto;
    bottom: 5px;
  }
}
@media screen and (max-width: 486px) {
  .batch-blocks {
    flex-direction: column;
  }
  .h-divider {
    transform: rotate(90deg);
    height: 40px;
  }
  .content {
    padding: 10px !important;
  }
  .card-box {
    padding: 10px !important;
  }
  .reviews-table thead,
  .reviews-table tbody {
    padding: 0 10px !important;
    display: block;
  }
  .reviews-table td,
  .reviews-table th {
    min-width: 180px !important;
  }
  .chat-message-right,
  .chat-message-left {
    width: 280px;
  }
}
